## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [5]:
data = {'國家': {'0': 'Taiwan', '1': 'United States', '2': 'Thailand'},
        '人口': {'0': np.random.randint(3000000, 20000000), '1': np.random.randint(30000000, 200000000), '2': np.random.randint(4000000, 15000000)}
       }
df = pd.DataFrame(data)
df

              國家         人口
0         Taiwan   17997481
1  United States  193061980
2       Thailand    4441860

In [6]:
df.max()

國家    United States
人口        193061980
dtype: object